/* Default (normal mode) */
.changelog-item__content h2,
.changelog-item__content h3 {
    font-size: 1.6rem; /* Adjust for h2 */
    letter-spacing: -0.5px;
    font-weight: 700;
    color: inherit;
}

.changelog-item__content a{
    color: inherit;
    text-decoration: none;
    color: rgb(60, 135, 248);
    font-weight: 600;
}


