/* Default (normal mode) */
.changelog-item__content h2,
.changelog-item__content h3 {
    font-size: 1.6rem; /* Adjust for h2 */
    letter-spacing: -0.5px;
    font-weight: 700;
    color: inherit;
}

.changelog-item__content a{
    color: inherit;
    text-decoration: none;
    color: rgb(60, 135, 248);
    font-weight: 600;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #755fff,
                0 0 10px #755fff,
                0 0 15px #755fff;
  }
  50% {
    box-shadow: 0 0 10px #755fff,
                0 0 20px #755fff,
                0 0 30px #755fff;
  }
  100% {
    box-shadow: 0 0 5px #755fff,
                0 0 10px #755fff,
                0 0 15px #755fff;
  }
}

.checkpoint-glow {
  animation: glow 2s ease-in-out infinite;
}
