
:root {
  /* Custom backdrop background color in dark mode. */
  --starlight-image-zoom-backdrop-bg: black;
  
}

:root[data-theme='light'] {
  /* Custom backdrop background color in light mode. */
  --starlight-image-zoom-backdrop-bg: black;
}
.starlight-image-zoom-zoomable{
    display: flex;
    justify-content: center;
    align-content: center;
}
